<div *ngIf="modules.length === 0" class="w-full h-full flex justify-center items-center text-gray-600" style="min-height: 400px;">
  No hay módulos disponibles.
</div>

<div *ngFor="let module of modules" class="bg-white rounded-lg shadow-lg overflow-hidden mb-8">
  <div class="flex flex-col lg:flex-row">
    <div class="lg:w-1/3 p-4">
      <img *ngIf="module.image" [src]="module.image" alt="Imagen del módulo" class="w-full h-64 rounded-lg object-cover">
    </div>
    
    <div class="lg:w-2/3 p-6 flex flex-col justify-between">
      <div>
        <h3 class="text-2xl font-bold text-gray-800 mb-2">{{ module.name }}</h3>
        <p class="text-gray-600 mb-4">{{ module.description }}</p>
      </div>
      
      <div class="flex justify-between items-center">
        <button (click)="editModule(module)" class="text-blue-600 font-semibold hover:text-blue-800">Editar</button>
        <button (click)="deleteModule(module.id)" class="text-red-600 font-semibold hover:text-red-800">Eliminar</button>
      </div>
    </div>
  </div>
</div>
