<div class="min-h-screen flex flex-col">
  <app-header (onCreate)="openCreateForm()"></app-header>
  <div class="flex-1 p-4 bg-gray-100">
    <div class="container mx-auto flex flex-col lg:flex-row">
      <div class="lg:w-3/4 w-full p-4 bg-white rounded-lg shadow-md lg:mr-4 mb-4 lg:mb-0">
      
        <!-- Mostrar el formulario de crear o actualizar según el estado -->
        <div *ngIf="isCreating && !selectedModule">
          <app-create-module (onCreate)="createModule($event)" (onCancel)="cancelCreation()"></app-create-module>
        </div>

        <div *ngIf="isCreating && selectedModule">
          <app-update-module [module]="selectedModule" (onUpdate)="updateModule($event)" (onCancel)="cancelUpdate()"></app-update-module>
        </div>

        <!-- Mostrar búsqueda y filtro solo cuando no estamos creando o editando -->
        <div *ngIf="!isCreating">
          <div class="mb-4">
            <input 
              type="text" 
              placeholder="Buscar módulos por nombre..." 
              [(ngModel)]="searchTerm" 
              class="w-full p-2 border border-gray-300 rounded-md"
              (input)="filterModules()"
            >
          </div>

          <!-- Mostrar filtro por categoría -->
          <div class="flex items-center mb-4">
            <span *ngIf="selectedCategory" class="text-sm font-semibold text-gray-600 mr-4">
              Filtrando por: {{ selectedCategory }}
            </span>
            <button *ngIf="selectedCategory" (click)="clearFilter()" class="bg-red-500 text-white px-4 py-1 rounded-md">
              Limpiar Filtro
            </button>
          </div>

          <!-- Mostrar módulos filtrados -->
          <app-show-module [modules]="filteredModules" (onDelete)="deleteModule($event)" (onEdit)="editModule($event)"></app-show-module>
        </div>

      </div>

      <!-- Sidebar para seleccionar categorías -->
      <div class="lg:w-1/4 w-full p-4 bg-white rounded-lg shadow-md h-auto">
        <app-sidebar (onCategorySelected)="filterByCategory($event)"></app-sidebar>
      </div>
    </div>
  </div>
</div>
